extends ../layout.jade

block content-body
	.row.mt-5(style='width:100%;text-align:center;padding:2%')
		.card(style='width:31%;margin:1%;')
			img.card-img-top.mx-auto.d-block(src='/image/logo_java.jpg',style='width:70%')
			.card-body
				h5.card-title.mt-2.mb-3 ID/Password Login
				p.card-text.mb-3 ID와 Password를 사용하여 로그인합니다.
				form#form-login-idpw(action='/api/login/idpw',method='post',enctype='multipart/form-data')
					input.form-control.mb-2(type='text',name='username',placeholder='ID',required='',autofocus='',autocomplete='username')
					input.form-control.mb-2(type='password',name='password',placeholder='Password',required='',autocomplete='current-password')
			.card-footer
				button.btn.btn-primary.btn-block(onclick="document.getElementById('form-login-idpw').submit();return false;",style='width:100%') Login

		.card(style='width:31%;margin:1%;')
			img.card-img-top.mx-auto.d-block(src='/image/logo_otp.png',style='width:70%')
			.card-body
				h5.card-title.mt-2.mb-3 Google OTP Login
				p.card-text.mb-3 ID와 Password를 사용하여 로그인합니다. 로그인 후에 Google OTP를 사용하여 2차 인증을 받아야합니다.
				form.form-signin(action='/admin/call/login',method='post',enctype='multipart/form-data')
					input.form-control.mb-2(type='text',name='username',placeholder='ID',required='',autofocus='',autocomplete='username' disabled)
					input.form-control.mb-2(type='password',name='password',placeholder='Password',required='',autocomplete='current-password' disabled)
			.card-footer
				button.btn.btn-primary.btn-block(onclick='loginKrafton()',style='width:100%' disabled) Login

		.card(style='width:31%;margin:1%;')
			img.card-img-top.mx-auto.d-block(src='/image/logo_ms.jpg',style='width:70%;')
			.card-body
				h5.card-title.mt-2.mb-3 Microsoft Login
				p.card-text.mb-3 Microsoft 계정을 사용하여 로그인합니다. 계정 인증을 위해서 Microsoft 로그인 페이지에 리다이렉션됩니다.
				form#form-login-azuread(action='/api/login/azuread',method='post',enctype='multipart/form-data')
			.card-footer
				button.btn.btn-primary.btn-block(onclick="document.getElementById('form-login-azuread').submit();return false;",style='width:100%') Login
