<?xml version="1.0"?>
<web>
    <port>8080</port>
    <logActivity>true</logActivity>
    <adminUserName>admin</adminUserName>
    <adminPassword>admin</adminPassword>
    <sessionTimeout>60000</sessionTimeout>
    <auzureADClientID>0d4d8ebd-8961-47b4-8fa5-af326e296660</auzureADClientID>
    <auzureADTenantID>1a27bdbf-e6cc-4e33-85d2-e1c81bad930a</auzureADTenantID>
    <auzureADClientKey>PAe8Q~N85DJ7r~uqr6_zDDZS~FzbRGvBg47z3da~</auzureADClientKey>
    <auzureADClientSecret>4bda15bb-d366-4d73-a1d4-3f7c83605c3a</auzureADClientSecret>
    <auzureADLoginRedirectURL>http://localhost:8080/api/login/azuread/callback</auzureADLoginRedirectURL>
    <TOTPTimeStep>30000</TOTPTimeStep>
    <TOTPMovingFactorOffset>1</TOTPMovingFactorOffset>
</web>